@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
  }
  
nav a {
display: inline-block;
min-width: 9rem;
padding: 0.5rem;
border-radius: 0.2rem;
border: solid 1px rgb(22, 22, 22);
text-align: center;
text-decoration: none;
color: #1b1b1b;
}

nav a[aria-current='page'] {
color: #000;
background-color: #d4d4d4;
}

input:focus-visible{
  outline: 0;
}

.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8; 
  color: #333; 
  font-family: "Roboto Mono", monospace; 
}

.box{
  min-width: 400px;
  padding: 10px;
  box-shadow: 0 4px 10px rgb(0 0 0 / 50%);
  background: #2980db;
  border-radius: 2px;
  margin-top: 10px;
}

#pass-box{
  width: 100%;
  display: block;
  background-color: white;
  font-size: 30px;
  padding: 10px;
  border-radius: 4px;
}

.row{
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  color: white;
  font-size: 20px;
}

label{
  user-select: none;
}

#btn{
  width: 100%;
  font-size: 20px;
  outline: 0;
  border: 0;
  padding: 10px;
  background-color: #34495e; 
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

